---
---

@charset "utf-8";



// Vairables by Jason
$primary-color:    #001F3F;

// CSS Shim for annoying comma and space in liquid template for loops 
.comma-list > a:after {
    content: ','
}
    .comma-list:last-of-type > a:after {
        content:''
    }
// Pointer hack for fixed header and clicking links below
.pointer-events {
    pointer-events: none;
}

// Icon style
.icon {
    height: 30px;
    width: 30px;
}

// Parent and childern underline on hover
.parent-hover:hover a {
    text-decoration: underline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_base",
        "_basscss_btn",
        "_basscss_colors",
        "_basscss_forms",
        "_basscss_background-colors"
;
