---
title: space
layout: default
---

<div class="col col-2">
    {% for exhibition in site.space %}
    {% assign start = exhibition.start_date | date: "%j" %}
    {% assign end = exhibition.end_date | date: "%j" %}
    {% assign now = 'now' | date: "%j" %}
        {% if now > start and now < end %}
            {% assign counter1 = counter1 | plus: 1 %}
            {% if counter1 <= 1 %}
            <h3 class="h6 regular caps gray m0">Now</h3>
            <ul class="list-reset mt1">
            {% endif %}
            <a class="text-decoration-none black" href="{{ exhibition.url }}" title="{{ exhibition.title }}">{{ exhibition.title }}</a>
            {% if counter1 >= 2%}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for exhibition in site.space %}
    {% assign start = exhibition.start_date | date: "%j" %}
    {% assign end = exhibition.end_date | date: "%j" %}
    {% assign now = 'now' | date: "%j" %}
        {% if now < start %}
            {% assign counter2 = counter2 | plus: 1 %}
            {% if counter2 <= 1 %}
            <h3 class="h6 regular caps gray">After</h3>
            <ul class="list-reset mt1">
            {% endif %}
                    <a class="text-decoration-none black" href="{{ exhibition.url }}" title="{{ exhibition.title }}">{{ exhibition.title }}</a>
            {% if counter2 >= 2%}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for exhibition in site.space %}
    {% assign start = exhibition.start_date | date: "%j" %}
    {% assign end = exhibition.end_date | date: "%j" %}
    {% assign now = 'now' | date: "%j" %}
    {% if now > end %}
            {% assign counter = counter | plus: 1 %}
            {% if counter <= 1 %}
            <h3 class="h6 regular caps gray">Before</h3>
            <ul class="list-reset mt1">
            {% endif %}
                <a class="text-decoration-none black" href="{{ exhibition.url }}" title="{{ exhibition.title }}">{{ exhibition.title }}</a>
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% endif %}
   {% endfor %}
</div>

<ul class="list-reset col col-10 mt0">
    {% for exhibition in site.space %}
    <li class="block clearfix mb4">
    <div class="col col-5 mr2">
        <img class="fit" src="{{ exhibition.key_image }}" title="{{ exhibition.title }}"/>
    </div>
    <div class="col col-5">
        <h1 class="h4 my0">
            <a class="text-decoration-none black" href="{{ exhibition.url | prepend: site.baseurl }}">{{ exhibition.title }}</a>
        </h1>

        <div class="">
            <p class="h4 gray my0">{{ exhibition.start_date | date: '%B %d, %Y' }} to {{ exhibition.end_date | date: '%B %d, %Y' }}</p>
            {% for artist in exhibition.artist_links %}
            <a class="text-decoration-none black" href="{{ artist[1] }}" title="{{ artist[0] }}">{% if forloop.index >= 2 | strip: true %},{% endif %} {{ artist[0] }}</a>
            {% endfor %}
            <a class="block text-decoration-none black mb2" href="{{ exhibition.images }}" title="Images">Images &#8599;</a>
            <!-- Exhibition statement -->
            {{ exhibition.content }}

            <ul class="list-reset">
                {% for link in exhibition.research_links %}
                <li>
                <a class="text-decoration-none black" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} &#8599;</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </li>
    {% endfor %}
</ul>
