---
title: work
layout: default
---

<div class="col col-2">
    Navigation
    Always
    Sometimes
</div>

<ul class="list-reset col col-10">
    {% for artist in site.work %}
    <li class="block clearfix mb4">
    <div class="col col-5 mr2">
        <img class="fit" src="{{ artist.key_image }}" title="{{ artist.title }}"/>
    </div>
    <div class="col col-5">
        <header class="">
        <h1 class="">{{ artist.title }}</h1>
        </header>

        <div class="">
            {% for exhibition in artist.exhibition_links %}
            <a href="{{ exhibition[1] }}" title="{{ exhibition[0] }}">{% if forloop.index >= 2 | strip: true %},{% endif %} {{ exhibition[0] }}</a>
            {% endfor %}
            <br><br>
            <a href="{{ artist.images }}" title="Images">Images &#8599;</a>
            <br><br>
            <!-- Artist bio -->
            {{ artist.content }}

        <a class="" href="{{ artist.url | prepend: site.baseurl }}">{{ artist.title }}</a>
    </div>
    </li>
    {% endfor %}
</ul>
