<li id="{{ exhibition.title | url_encode | downcase | remove: '+' }}" class="block clearfix mb2">
    <div class="col-12 sm-col sm-col-7 md-col-7 lg-col-7 md-pl1">
        <img class="fit" src="{{ exhibition.key_image }}" title="{{ exhibition.title }}"/>
    </div>
    <div class="sm-hide md-hide lg-hide mb2"></div>
    <div class="col-12 sm-col sm-col-5 md-col-5 lg-col-5 sm-pl2 md-pl2 lg-pl2">
        <h1 class="h4 my0">
            <a class="text-decoration-none black" href="{{ exhibition.url }}">{{ exhibition.title }}</a>
        </h1>

        <div id="exhibition-content">
            {% if exhibition.start_date != exhibition.end_date %}
                <p class="h4 gray my0">{{ exhibition.start_date | date: '%B %-d, %Y' }} <span class="relative arrow">→</span> {{ exhibition.end_date | date: '%B %-d, %Y' }}</p>
            {% endif %}
            {% if exhibition.opening_start_time_and_date != '' %}
                {% assign start = exhibition.opening_start_time_and_date %}
                {% assign end = exhibition.opening_end_time_and_date %}
                {% if exhibition.is_event == true %}
                <h2 class="h4 gray regular mt0 mb2">{{ ending }}Performance {{ start | date: '%A, %B %-d, %Y, %-I' }}{% if end == '' %}{{ start | date: '%p' | downcase }}{% else %}&ndash;{{ exhibition.opening_end_time_and_date | date: '%-I%p' | downcase}}{% endif %}</h2>
                {% else %}
                <h2 class="h4 gray regular mt0 mb2">Opening {{ start | date: '%A, %B %-d, %Y, %-I' }}{% if end == '' %}{{ start | date: '%p'| downcase }}{% else %}&ndash;{{ end | date: '%-I%p' | downcase}}{% endif %}</h2>
                {% endif %}
            {% endif %}

            <!-- Artists list -->
            {% for artist in exhibition.artist_links %}
                {% if forloop.first %}
                    <ul id="artists" class="list-reset">
                {% endif %}
                        {% if artist[1] != '' %}
                        <li class="comma-list inline-block">
                            <a class="text-decoration-none black" href="{{ site.url }}/work/{{ artist[0] | slugify | append: '.html' }}" title="{{ artist[0] }}">{{ artist[0] }}</a>
                        </li>
                        {% endif %}
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
            <!-- Exhibition statement -->
            {% assign content = exhibition.content | strip_newlines %}
            {% if content != empty %}
                <p>
                    {{ exhibition.content | truncatewords: 50 | strip_html }}
                    <a class="text-decoration-none black bold" href="{{ exhibition.url | prepend: site.baseurl }}" title="Read more about {{ exhibition.title }}">→</a>
                </p>
            {% endif %}

            {% for link in exhibition.research_links %}
                {% if forloop.first %}
                    <ul id="research" class="list-reset">
                {% endif %}
                        {% if link[1] != '' %}
                        <li>
                            <a class="text-decoration-none black" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} →</a>
                        </li>
                        {% endif %}
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
            
            {% for link in exhibition.catalog_link %}
                {% if forloop.first %}
                    <ul id="catalog" class="list-reset">
                {% endif %}
                        {% if link[1] != '' %}
                        <li>
                            <a class="text-decoration-none black" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} →</a>
                        </li>
                        {% endif %}
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
            <p class="silver">{{ exhibition.key_image_credit }}</p>
        </div> <!-- end id=exhibition-content -->
    </div>
</li>
<div class="xs-hide mb4"></div>
<div class="md-hide mb3"></div>
