<footer class="">
<div class="max-width-4 mx-auto mt4">
{% if page.url == "/" %}
<!-- TODO: Add anything here that needs to appear on the homepage -->
{% else %}
<div class="clearfix">
    <div class="col col-12 center">
        <p class="my2 navy" title="Address: {{ site.physical_address }}"><a class="text-decoration-none navy" href="https://goo.gl/2IZq45">{{ site.physical_address }}</a> <span class="js-gallery-hours bold my0 display-none">⇢ Open</span></p>
    </div>
</div>
{% endif %}

<!-- Script magic -->
<script src="{{ "/scripts/vendor/jquery-2.2.4.min.js" | prepend: site.baseurl }}" type="text/javascript" defer="defer"></script>
<script src="{{ "/scripts/main.js" | prepend: site.baseurl }}" type="text/javascript" defer="defer"></script>
</div>
</footer>
