<footer class="">
{% if page.url != "/" %}
<div class="max-width-4 mx-auto mt4">
    <div class="clearfix">
        <div class="col col-12 center">
            <p class="my2 navy" title="Address: {{ site.physical_address }}"><a class="text-decoration-none navy" href="https://goo.gl/2IZq45">{{ site.physical_address }} <span class="js-gallery-hours bold my0 display-none"> <!-- <span class="relative arrow">→</span> Open</span> --> </a></p>
        </div>
    </div>
</div>
{% endif %}

<!-- Script magic -->
<script src="/scripts/vendor/jquery-2.2.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // Create dynamic logo
    var svgz = $("div#js-logo svg");

    // Color one of the letters in each SVG letter group
    function colorLetters(object) {
        var randomNum = Math.floor((Math.random() * 3) + 0);
        var l = $(object).children();
        
        for (n=0; n < l.length; n++) {
            if (n == randomNum ) {
                $(l[n]).attr("fill","#000000");
                $(l[n]).attr("fill-opacity","1.0");
            }
        }
    }

    // Loop thourgh each SVG letter group
    for (i=0; i < svgz.length; i++){
        colorLetters(svgz[i]);
    }
</script>
<script src="/scripts/main.js" type="text/javascript" defer="defer"></script>
{% if page.url == "/info/" %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVMendGJiHUon5HW7c35eFf81MU_gAUrI&callback=initPano"></script>
{% endif %}
</footer>
