<footer class="">
{% if page.url == "/" %}
<div class="fixed bottom-0 right-0 left-0 m2 xs-hide sm-hide">
    <div class="sm-col col-12 center clearfix mt3 sm-mt3 md-mt3 lg-mt3">
        <p class="h4 my1 navy" title="Address: {{ site.physical_address }}"><a class="text-decoration-none navy" href="https://goo.gl/2IZq45">{{ site.physical_address }}</a> <span class="relative arrow">→</span> <a class="text-decoration-none navy" href="mailto:{{ site.email }}?subject=I'd like to visit">Contact</a></p>
    </div>
</div>
<div class="md-hide lg-hide">
    <div class="sm-col col-12 center clearfix mt3 sm-mt2">
        <p class="h4 my1 navy" title="Address: {{ site.physical_address }}"><a class="text-decoration-none navy" href="https://goo.gl/2IZq45">{{ site.physical_address }}</a> <span class="relative arrow">→</span> <a class="text-decoration-none navy" href="mailto:{{ site.email }}?subject=I'd like to visit">Contact</a></p>
</div>
{% else %}
<div class="max-width-4 mx-auto mt4">
    <div class="clearfix">
        <div class="col col-12 center">
            <p class="my2 navy" title="Address: {{ site.physical_address }}"><a class="text-decoration-none navy" href="https://goo.gl/2IZq45">{{ site.physical_address }} <span class="js-gallery-hours bold my0 display-none"> <span class="relative arrow">→</span> Open</span></a></p>
        </div>
    </div>
</div>
{% endif %}

<!-- Script magic -->
<script src="{{ "/scripts/vendor/jquery-2.2.4.min.js" | prepend: site.baseurl }}" type="text/javascript" defer="defer"></script>
<script src="{{ "/scripts/main.js" | prepend: site.baseurl }}" type="text/javascript" defer="defer"></script>
</div>
</footer>
