<header class="max-width-4 mx-auto">

{% if page.url == "/" %}
<div class="clearfix">
    <!-- Dynamic site logo here -->
    {% include logo_home.html %}
</div>
{% else %}
<div class="clearfix">
    <div class="col-12 sm-col sm-col-2 md-col-2 lg-col-2 left-align relative">
    <a class="block" href="{{ site.base_url }}/">
        {% include logo_home.html %}
    </a>    
    </div>
    <div class="col xs-hide col-10 right-align mt2">
        {% if page.title == 'work' %}
        <a class="h2 inline-block" href="{{ site.base_url }}/work.html" title="Work">Work </a>
        <a class="h2 inline-block text-decoration-none ml2" href="{{ site.base_url }}/space.html" title="Space">Space</a>
        {% elsif page.title == 'space' %}
        <a class="h2 inline-block text-decoration-none" href="{{ site.base_url }}/work.html" title="Work">Work </a>
        <a class="h2 inline-block ml2" href="{{ site.base_url }}/space.html" title="Space">Space</a>
        {% endif %}
    </div>
</div>
{% endif %}
</header>
