
<div class="fixed bottom-0 right-0 left-0 m2">
    <div class="clearfix max-width-4 mx-auto">
        <div class="col col-4 left-align">
            <a class="h1 text-decoration-none black px1" href="{{ site.base_url }}/work/" title="Work">Work</a>
        </div>
        <div class="col col-4 center">
            <a class="h1 text-decoration-none black px1" href="{{ site.base_url }}/space/" title="Space">Space</a>
        </div>
        <div class="col col-4 right-align">
            <a class="h1 text-decoration-none black px1" href="{{ site.base_url }}/info/" title="Info">Info</a>
        </div>
    </div>
    <!-- Small screen meta data -->
    <div class="clearfix max-width-4 mx-auto mt4 md-hide lg-hide">
        <!--
        <div class="col col-12 center">
            <p class="js-gallery-hours h3 bold my0 black display-none">Open</p>
        </div>
        -->
        <div class="col col-12 center">
            <a class="h3 my2 black text-decoration-none" title="Address: {{ site.physical_address }}" href="https://goo.gl/2IZq45">{{ site.physical_address }}</a>
        </div>
    </div>
    <!-- Big screen meta data -->
    <div class="clearfix max-width-4 mx-auto mt3 xs-hide sm-hide">
        <div class="col col-12 center">
            <a class="h3 my2 black text-decoration-none" title="Address: {{ site.physical_address }}" href="https://goo.gl/2IZq45">{{ site.physical_address }} <!-- <span class="js-gallery-hours h3 bold my0 display-none">⇢ Open</span> --> </a>
        </div>
    </div>
</div>
