<div id="js-logo" class="relative">
    <!-- This first SVG floats left to give the element height -->
    <svg xmlns="http://www.w3.org/2000/svg"
        class="left" viewbox="0 0 100 40" 
        letter="X">
        <!-- X -->
        <text x="00.0" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            
        </text>
        <text x="00.0" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            
        </text>
        <text x="00.0" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="S">
        <!-- S -->
        <text x="00.0" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            S
        </text>
        <text x="00.0" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            S
        </text>
        <text x="00.0" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            S
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="E">
        <!-- E -->
        <text x="10.6" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="10.6" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="10.6" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="P">
        <text x="21.3" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            P
        </text>
        <text x="21.3" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            P
        </text>
        <text x="21.3" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            P
        </text>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="T">
        <text x="32.0" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            T
        </text>
        <text x="32.0" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            T
        </text>
        <text x="32.0" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            T
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="E">
        <text x="41.9" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="41.9" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="41.9" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="M">
        <text x="52.5" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            M
        </text>
        <text x="52.5" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            M
        </text>
        <text x="52.5" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            M
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="B">
        <text x="65.8" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            B
        </text>
        <text x="65.8" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            B
        </text>
        <text x="65.8" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            B
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="E">
        <text x="76.5" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="76.5" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
        <text x="76.5" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            E
        </text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0" viewbox="0 0 100 40" 
        letter="M">
        <text x="87.1" y="13.0" fill="#FFFFFF" fill-opacity="0.0">
            R
        </text>
        <text x="87.1" y="24.9" fill="#FFFFFF" fill-opacity="0.0">
            R
        </text>
        <text x="87.1" y="36.8" fill="#FFFFFF" fill-opacity="0.0">
            R
        </text>
    </svg>
</div>
