<!-- Work navigation -->
<div class="col col-2">
    {% for artist in site.work %}
        {% if artist.is_represented %}
            {% assign represented_count = represented_count | plus: 1 %}
        {% else %}
            {% assign not_represented_count = not_represented_count | plus: 1 %}
        {% endif %}
    {% endfor %}
    {% for artist in site.work %}
        {% if artist.is_represented == true %}
            {% assign counter1 = counter1 | plus: 1 %}
            {% if counter1 <= 1 %}
            <h3 class="h6 regular caps gray m0">Always</h3>
            <ul class="list-reset mt1">
            {% endif %}
            <li>
                <a class="text-decoration-none black" href="{{ artist.url }}" title="{{ artist.title }}">{{ artist.title }}</a>
                </li>
            {% if counter1 >= represented_count %}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for artist in site.work %}
        {% if artist.is_represented == false %}
            {% assign counter2 = counter2 | plus: 1 %}
            {% if counter2 <= 1 %}
                <h3 class="h6 regular caps gray mt2 mb0">Sometimes</h3>
                <ul class="list-reset mt1">
                    {% endif %}
                    <li>
                    <a class="text-decoration-none black" href="{{ artist.url }}" title="{{ artist.title }}">{{ artist.title }}</a>
                    </li>
            {% if counter2 == not_represented_count %}
                </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
