body {
    font-family: Arial, Helvetica, Arial, sans-serif;
}

.white {
    color: white;
}

.gray {
    color: #999999;
}

.black {
    color: #000000;
}

.max-height {
    height: 100%;
}

.navy {
    color: $primary-color;
}

.bg-navy {
    background-color: $primary-color;
}

.text-decoration-none:hover {
    text-decoration: underline;
}

hr {
border: 1px solid #D3D3D3;
}
