---
layout: default
---

<!-- Artist -->
<div class="clearfix list-reset col-11 sm-col-12 md-col-10 lg-col-10 mx-auto">
    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto mt3">
        <a class="text-decoration-none navy h1" href="{{ site.base_url }}/work.html">⇠</a>
    </div>
    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
        <img class="fit" src="{{ page.key_image }}" title="{{ page.title }}"/>
    </div>

    <header class="sm-col-11 md-col-9 lg-col-9 mx-auto">
    <h1 class="">{{ page.title }}</h1>
    </header>

    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
      <ul class="list-reset mb0">
        {% for exhibition in page.exhibition_links %}
          <li class="comma-list inline-block">
          <a class="text-decoration-none navy" href="{{ exhibition[1] }}" title="{{ exhibition[0] }}">{{ exhibition[0] }}</a>
          </li>
          {% endfor %}
      </ul>
      <!-- <a class="text-decoration-none navy" href="{{ page.images }}" title="Images">Images &#8599;</a> -->
        <!-- Artist bio -->
        {{ content }}

        <ul class="list-reset">
            {% for link in page.research_links %}
            <li>
                <a class="text-decoration-none navy" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} &#8599;</a>
            </li>
            {% endfor %}
        </ul>
        {% for catalog in page.catalog_link %}
        <a class="text-decoration-none navy" href="{{ catalog[1] }}" title="{{ catalog[0] }}">{{ catalog[0] }}</a>
        {% endfor %}
    </div>
</div>
