---
layout: default
---
<article class="">

  <header class="">
    <h1 class="">{{ page.title }}</h1>
  </header>

  <div class="">
      <ul>
          {% for exhibition in page.exhibition_links %}
          <li>
              <a href="{{ exhibition[1] }}" title="{{ exhibition[0]">{{ exhibition[0] }}</a>
          </li>
          {% endfor %}
      </ul>
      <a href="{{ page.images }}" title="Images">Images</a>

      <!-- Artist bio -->
      {{ content }}

      <ul>
          {% for link in page.research_links %}
          <li>
              <a href="{{ link[1] }}" title="{{ link[0]">{{ link[0] }}</a>
          </li>
          {% endfor %}
      </ul>
  </div>

</article>
