---
layout: default
---

{% include scroll_to_top.html %}

<!-- Artist -->
<div class="clearfix list-reset col-11 sm-col-12 md-col-10 lg-col-10 mx-auto">
    <div class="sm-col-11 md-col-12 lg-col-12 mx-auto mt3">
        <a class="text-decoration-none navy h1" href="{{ site.base_url }}/work/">←</a>
    </div>
    <div class="relative sm-col-11 md-col-12 lg-col-12 mx-auto center">
        <img class="fit" src="{{ page.key_image }}" title="{{ page.title }}"/>
    </div>
    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto mb3">
        <p class="gray m0 caption">{{ page.key_image_credit }}</p>
    </div>

    <header class="sm-col-11 md-col-9 lg-col-9 mx-auto">
        <h1 class="">{{ page.title }}</h1>
    </header>

    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
        {% for exhibition in page.exhibition_links %}
            {% if forloop.first %}
            <ul class="list-reset mb0">
            {% endif %}
                {% if exhibition[1] != '' %}
                <li class="comma-list inline-block">
                    <a class="text-decoration-none black" href="{{ exhibition[0] | downcase | replace: " ", "-" |  append: '.html' | prepend: 'work/' | remove: ',' }}" title="{{ exhibition[0] }}">{{ exhibition[0] }}</a>
                </li>
                {% endif %}
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% endfor %}
      <!-- <a class="text-decoration-none navy" href="{{ page.images }}" title="Images">Images &#8599;</a> -->

        <!-- Artist bio -->
        {% if content.size > 1 %}
        <div class="mt2 mb0 prose">
            {{ content }}
        </div>
        {% endif %}

        <!-- Research loop -->
        {% include page_research.html %}

        <!-- Catalog loop --> 
        {% include page_catalog.html %}
    </div>
    <!-- Images loop -->
    {% include page_images.html %}
</div>
