<!DOCTYPE html>
<html>
    {% for exhibition in site.space %}
        {% if forloop.index <= 1 %}
            {% assign background_image = exhibition.key_image %}
            {% assign alt_text = exhibition.title %}
            {% assign title_text = exhibition.title %}
        {% endif %}
    {% endfor %}

    {% include head.html %}

    <body class="sm-m2 md-m2 lg-m0">

        {% include header.html %}

        <div class="max-width-4 mx-auto">
            <div class="clearfix">
                <!-- Margin for desktop fixed navigation -->
                <div class="xs-hide mt4"></div>
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

        {% if page.url == "/" %}
        <div class="macro fixed top-0 right-0 bottom-0 left-0">
            <img class="relative" src="{{ background_image }}" alt="{{ alt_text }}" title="{{ title_text }}">
        </div>
        {% endif %}
    </body>

</html>
