---
layout: default
---
<!-- Exhibition -->
<div class="clearfix list-reset col-11 sm-col-12 md-col-10 lg-col-10 mx-auto">
    <div class="sm-col-11 md-col-9 lg-col-9 mx-auto mt3">
        <a class="text-decoration-none navy h1" href="{{ site.base_url }}/space.html">⇠</a>
    </div>
<div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
    <img class="fit" src="{{ page.key_image }}" title="{{ page.title }}"/>
</div>
  <header class="sm-col-11 md-col-9 lg-col-9 mx-auto">
    <h1 class="mb0">{{ page.title }}</h1>
    <p class="h4 gray mt0 mb2">{{ page.start_date | date: '%B %d, %Y' }} to {{ page.end_date | date: '%B %d, %Y' }}</p>
  </header>

  <div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
      <ul class="list-reset mb0">
          {% for artist in page.artist_links %}
          <li class="comma-list inline-block">
              <a class="text-decoration-none navy" href="{{ artist[1] }}" title="{{ artist[0] }}">{{ artist[0] }}</a>
          </li>
          {% endfor %}
      </ul>
      <a class="text-decoration-none navy block" href="{{ page.images }}" title="Images">Images &#8599;</a>
      <!-- Exhibition statement -->
      {{ content }}

      <ul class="list-reset">
          {% for link in page.research_links %}
          <li>
              <a class="text-decoration-none navy" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} &#8599;</a>
          </li>
          {% endfor %}
      </ul>
  </div>
</div>
