---
layout: default
---

<!-- Exhibition -->
<div class="clearfix list-reset col-11 sm-col-12 md-col-10 lg-col-10 mx-auto">
    <div class="sm-col-11 md-col-12 lg-col-12 mx-auto mt3">
        <a class="text-decoration-none black h1" href="{{ site.base_url }}/space/">←</a>
    </div>
    <div class="sm-col-11 md-col-12 lg-col-12 mx-auto center">
        <img class="fit" src="{{ page.key_image }}" title="{{ page.title }}"/>
    </div>
  <header class="sm-col-11 md-col-9 lg-col-9 mx-auto">
  <h1 class="mb0">{{ page.title }}</h1>
      {% if page.start_date != page.end_date  %}
          <p class="h4 gray my0">{{ page.start_date | date: '%B %d, %Y' }} <span class="relative arrow">→</span> {{ page.end_date | date: '%B %d, %Y' }}</p>
      {% endif %}
    {% if page.opening_start_time_and_date != '' %}
        {% assign start = page.opening_start_time_and_date %}
        {% assign end = page.opening_end_time_and_date %}
        {% if page.is_event %}
            <p class="h4 gray regular mt0 mb2">Performance {{ start | date: '%A, %B %-d, %Y, %-I' }}{% if end == '' %}{{ start | date: '%p' | downcase }}{% else %}&ndash;{{ exhibition.opening_end_time_and_date | date: '%-I%p' | downcase}}{% endif %}</p>
        {% else %}
            <p class="h4 gray regular mt0 mb2">Opening {{ start | date: '%A, %B %-d, %Y, %-I' }}{% if end == '' %}{{ start | date: '%p'| downcase }}{% else %}&ndash;{{ end | date: '%-I%p' | downcase}}{% endif %}</p>
        {% endif %}
    {% endif %}
  </header>

  <div class="sm-col-11 md-col-9 lg-col-9 mx-auto">
        {% for artist in page.artist_links %}
            {% if forloop.first %}
            <ul class="list-reset mb0">
            {% endif %}
                {% if artist[1] != '' %}
                <li class="comma-list inline-block">
                <a class="text-decoration-none black" href="{{ site.url }}/work/{{ artist[0] | slugify | append: '.html' }}" title="{{ artist[0] }}">{{ artist[0] }}</a>
                </li>
                {% endif %}
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% endfor %}
      <!-- <a class="text-decoration-none black block" href="{{ page.images }}" title="Images">Images &#8599;</a> -->
      <!-- Exhibition statement -->
      {{ content }}

        {% for link in page.research_links %}
            {% if forloop.first %}
            <ul class="list-reset">
            {% endif %}
                {% if link[1] != '' %}
                <li>
                    <a class="text-decoration-none black" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} →</a>
                </li>
                {% endif %}
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% endfor %}

        {% for link in page.catalog_link %}
            {% if forloop.first %}
            <ul class="list-reset">
            {% endif %}
                {% if link[1] != '' %}
                <li>
                    <a class="text-decoration-none black" href="{{ link[1] }}" title="{{ link[0] }}">{{ link[0] }} →</a>
                </li>
                {% endif %}
            {% if forloop.last %}
            </ul>
            {% endif %}
        {% endfor %}
  </div>
</div>
